<!DOCTYPE html>
<html>
<head>
<title>WeatherApp</title>
<link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    {{>logo}}
    {{>menu}}
    <form>
        <input placeholder="Address.. ex. Boston" autofocus/>
        <button><img src="./img/search-512.png" style="margin-top: -10px" alt="Search" width="20"></button>
    </form>
    {{>result}}
    <h6>by {{name}}</h6>
<script src="./js/front.js"></script>
</body>
</html>