<!DOCTYPE html>
<html>
<head>
<title>WeatherApp</title>
<link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <h4>hbs index{{name}}</h4>
    {{>header}}
    <h1></h1>
    <form>
        <input placeholder="Address.. ex. Boston" />
        <button>Search</button>
    </form>
<script src="./js/front.js"></script>
</body>
</html>