<!DOCTYPE html>
<html>
<head>
<title>Node app</title>
<link rel="stylesheet" href="./css/styles.css">
<script src="./js/front.js"></script>
</head>
<body>
    <h1>Weather hbs</h1>
    <h2>{{d}}</h2>
    <h2>{{e}}</h2>
</body>
</html>